* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #607d8b;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    top: 50px;
    /* bottom: 50px; */
    /* background: blueviolet; */
}

.cup {
    background: linear-gradient(to right, #f9f9f9, #d9d9d9); 
    width: 300px;
    height: 400px;
    position: relative;
}

.top {
    position: relative;
    background: linear-gradient(to right, #f9f9f9, #d9d9d9);
    /* background: red; */
    top: 20px;
    width: 100%; 
    height: 40px;
    border-radius: 50%;
}













