* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav-bar */

.navbar {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    background: rgb(60,179,113);
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    /* padding: 20px; */
    height: 5vh;
    align-items: center;
    transition: all 0.5s ease 0s;
}

.navbar:hover {
    height: 8vh;
    background: rgb(46,139,87);
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.navbar ul {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.nav-link a {
    padding: 10px;
    text-decoration: none;
    transition: all 0.5s ease 0s;
    color: #fff;
    display: block;
}

.nav-link a:hover {
    /* background: orange; */
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    /* border-color: orange; */
}

.logo {
    font-weight: 1000;
    font-size: 30px;
    padding-left: 20px;
}

/* main */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    min-width: 100vh;
    background: #282828;
}

.box {
    height: 200px;
    width: 200px;
    background: rgb(60,179,113); 
    
    transition: transform 0.3s ease 0s,
    background-color 0.2s ease-out 0s;

}

.box:hover {
    transform: rotate(135deg);
    background-color: rgb(46,139,87);  
}








