* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* tab-bar */

.tab-bar {
    display: flex;
    justify-content: flex-start;
    top: 0;
    left: 0;
    height: 5vh;
    background-color: #ffff24;
}

.icon {
    background-color: #f2f2f2;
    width: 100px;
    height: 100%;
}

.bar {
    display: grid;
    place-items: center;
    color: #282828; 
    width: 150px;

    /* background-color: #282828; */
    align-items: center;
    transition: all 0.2s ease 0s;
}

.bar:hover {
    font-size: larger;
    font-style: bold;
    width: 200px;
    height: 110%;
    color: #fff;
    background-color: orange;
}

/* main */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    min-width: 100vh;
    background: #282828;
}

.box {
    height: 200px;
    width: 200px;
    background: #ffff24;
    
    transition: transform 0.3s ease 0s,
    background-color 0.2s ease-out 0s;

}

.box:hover {
    transform: rotate(135deg);
    background-color: orange;  
}








